@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  line-height: 1.5;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  background-color: black;
  color: white;
}

.headings-container {
  width: 60%;
  padding: 40px;
  font-family: "Times New Roman", Times, serif;
}

.h1 {
  font-size: 4rem;
}
.h2 {
  font-size: 3rem;
  margin-bottom: 35px;
}

.content #map,
.content #gantt {
  display: flex;
  align-content: flex-start;
  text-align: left;
  width: 100%;
}
main {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 100px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.content {
  display: flex;
  text-align: end;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
  width: 90%;
}
/* .donut-container {
  width: 1000px;
  height: 400px;
} */

.container p {
  width: 100%;
  margin-right: 20px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.map-container {
  padding: 20px;
}

.options select {
  padding: 10px;
  border-radius: 8px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.map-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.donut-container p span {
  font-weight: bold;
}

.countryN {
  padding: 4px;
  background-color: black;
  border-radius: 8px;
}

.conclusion {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
  height: 300px;
  margin: 0;
}

.text {
  z-index: 0;
  width: 50%;
}
